<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         bootstrap="vendor/squizlabs/php_codesniffer/tests/bootstrap.php"
         verbose="true"
         colors="true"
         timeoutForLargeTests="100">

    <testsuites>
        <testsuite name="internations/kodierungsregelwerksammlung">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
